ul {
 display: flex;
   list-style-type: none;
   margin: 0;
   padding: 1%;
   overflow: hidden;
   margin-left: auto;
   justify-content: space-around;
   border-style: double;
   border-color: black;
   border-width: 15px;
   background-color: #5cbbd6;
}
a{
 color: white;
 text-decoration: none;
 font-size: 2em;

}
.htmlsUl{
 padding: 1%;
 border-style: double;
 border-width: 15px;
 border-color: black;
 background-color: #5cbbd6;
 font-size: 1.8em;
 list-style-type: none;
}
#fb,#phFab,#today{
 width: 8vw;
 height: 8vh;
}

#first, #second{
 height: 95vh;
 width: 35vw;

}
#TacoV{
 height: 55vh;
 width: 35vw;
 margin-top: 20vh;
 border-style: double;
 border-width: 15px;
 background-color: green;
}
.menu{
display: flex;
justify-content: space-around;
/* border-style: double;
border-width: 15px; */
}
