ul {
display: flex;
  list-style-type: none;
  margin: 0;
  padding: 1%;
  overflow: hidden;
  margin-left: auto;
  justify-content: space-around;
  border-style: double;
  border-color: green;
  border-width: 15px;
  background-color: red;
}
a{
 color: white;
 text-decoration: none;
 font-size: 2em;

}
#fb,#phFab{
 width: 8vw;
 height: 8vh;
}
.header{
   background-color: black;
}
#fbook,#cal{
 height: 35vh;
 width: 30vw;
 padding-top: 4vh;
}
#logo{

 height: 45vh;
 width: 30vw;
}
.htmlsUl{
 padding: 1%;
 border-style: double;
 border-width: 15px;
 background-color: black;
 font-size: 1.8em;
 list-style-type: none;
}
#TrailerPic{
 width: 100vw;
 height: 38vh;

}
